.card {
  margin: 1rem 1.4rem;
  /* margin-left: 0 1.4rem; */
}

.card_form__group {
  /* margin: 0 0; */
}

.card_form__group ul {
  /* width: 70 */
  margin: 0 auto;
  padding: 0 0;
}

.card_form__label {
  margin: 0.3rem 0;
  padding: 0.3rem 0.6rem;
  border-radius: 0.2rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  background-color: #272727;
  color: rgb(251, 236, 236);
  text-align: center;
}

.card_form__list {
  list-style: none;
  text-align: center;
}

.card_form__list > li {
  display: inline-block;
  margin: 0.3rem 0.4rem;
  text-align: center;
}

.spinner {
  margin: 0.7rem 0;
  width: 3rem !important;
  height: 3rem !important;
  font-size: 1.7rem;
  color: #272727;
}
