.card {
  margin: 1rem 1.4rem;
}

.card_form__group ul {
  margin: 0 auto;
  padding: 0 0;
}

.card_form__label {
  margin: 0.3rem 0;
  padding: 0.3rem 0.6rem;
  border-radius: 0.2rem;
  font-size: 1.4rem;
  background-color: #272727;
  color: #fbecec;
  text-align: center;
}

.card_form__list {
  list-style: none;
  text-align: center;
}

.card_form__list > li {
  display: inline-block;
  margin: 0.3rem 0.4rem;
  text-align: center;
}

.card_form__select {
  display: block;
  margin: 0.7rem auto 0.3rem;
  padding: 0.3rem;
  text-align: center;
  border-radius: 0.3rem;
  border: 2px solid #272727;
}

.spinner {
  margin: 0.7rem 0;
  width: 3rem !important;
  height: 3rem !important;
  font-size: 1.7rem;
  color: #fbecec;
}

.card__btn {
  padding: 0.3rem 0.7rem;
  margin-top: 0.7rem !important;
  /* background-color: #272727;  */
  font-size: 1.2rem;
  text-transform: uppercase;
}
