.card {
  margin: 1rem 1.4rem;
}

.card_form__group ul {
  margin: 0 auto;
  padding: 0 0;
}

.card_form__breed {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;
  padding: 0 0;
}

.card_form__label {
  margin: 0.3rem 0;
  padding: 0.3rem 0.6rem;
  border-radius: 0.2rem;
  font-size: 1.4rem;
  background-color: #272727;
  color: #fbecec;
  text-align: center;
}

.card_form__list {
  list-style: none;
  text-align: center;
}

.card_form__list > li {
  display: inline-block;
  margin: 0.3rem 0.4rem;
  text-align: center;
}

.card_form__select {
  display: block;
  margin: 0.7rem auto 0.3rem;
  padding: 0.3rem;
  text-align: center;
  border-radius: 0.3rem;
  border: 2px solid #272727;
}

.spinner_container {
  width: 90%;
  border-radius: 1.5rem;
  margin: 1rem auto;
  text-align: center;
  background-color: #272727;
}

.spinner {
  margin: 0.7rem 0;
  width: 3rem !important;
  height: 3rem !important;
  font-size: 1.7rem;
  color: #fbecec;
}

.btn {
  padding: 0.3rem 0.7rem;
  margin-top: 0.7rem !important;
  align-self: flex-end;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.error {
  background-color: #272727;
  width: max-content;
  margin: 0.8rem auto;
  padding: 0.4rem 1rem;
  color: red;
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
  border-radius: 0.4rem;
}

@media (orientation: landscape) {
  .card_form__breed .card_form__select {
    margin-left: 0;
    margin-right: 0;
  }

  .spinner_container {
    width: 40%;
  }
}

@media (min-width: 768px) {
  .spinner_container {
    width: 35%;
  }
}

@media (min-width: 1024px) {
  .card {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .form .btn {
    padding: 0.4rem;
    font-size: 1.5rem;
  }

  .card_form__label {
    font-size: 1.6rem;
  }
  .card_form__select {
    font-size: 1.2rem;
    align-self: center;
  }

  .error {
    font-size: 1.3rem;
  }
}

@media (min-width: 1280px) {
  .card {
    width: 65%;
  }
}
