.header {
  margin: 0.7rem;
  padding: 0.3rem;
  border-radius: 0.6rem;
  text-align: center;
  background-color: #272727;
  color: rgb(251, 236, 236);
}

.header h1 {
  margin: 0.2rem 0;
  font-size: 3rem;
}
.header h2 {
  margin: 0.2rem 0;
  font-size: 2rem;
}
.header em {
  margin: 0.4rem 0;
  font-size: 0.9rem;
}

.header p {
  margin: 0.4rem 0;
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .header {
    width: 80%;
    margin: 0.7rem auto;
  }
}

@media (min-width: 1024px) {
  .header {
    margin: 3% auto;
    padding: 0.8rem;
  }
  .header h1 {
    font-size: 3.3rem;
  }
  .header h2 {
    font-size: 2.3rem;
  }
  .header em {
    font-size: 1.1rem;
  }
  .header p {
    font-size: 1.4rem;
  }
}

@media (min-width: 1600px) {
  .header {
    width: 50%;
  }
}
