.usage {
  margin: 1rem 1.4rem;
  padding: 0.4rem;
  background-color: #272727;
  color: #fbecec;
  border-radius: 0.6rem;
}

.usage * {
  margin: 0.2rem 0.1rem;
}

.usage h3 {
  padding: 0.2rem 0;
  text-decoration: underline;
}

@media (min-width: 768px) {
  .usage {
    width: 70%;
    margin: 0 auto;
    font-size: 1.1rem;
  }
}

@media (min-width: 1024px) {
  .usage {
    margin: 3% auto;
    padding: 0.7rem;
    font-size: 1.2rem;
  }
}
